@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

/* General */

main {
    width: 100%;
}

:root {
    font-family: "Afacad", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #201F1E;
    // background-color: #1A1A1A;
    // background-color: rgb(29, 30, 69);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // --spring-easing: linear(0, 0.006 1.7%, 0.023 3.5%, 0.095 7.6%, 0.187 11.5%, 0.495 23.3%, 0.661 30.9%, 0.776 37.7%, 0.863 44.9%, 0.936 54.3%, 0.98 65.4%, 1.001 79%, 1);
    --spring-easing: ease;
    --spring-duration: 1s;
}

input {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    // min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: none;
    cursor: pointer;
    transition: transform 1s;
}

/* Responsive HTML Font Sizes */

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

/* @media screen and (min-width: 769px) { */
@media screen and (min-width: 601px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 601px) {
    button:hover {
        transform: scale(1.1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* Header */

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(32, 31, 30, 0.75);
    // background-color: rgba(26, 26, 26, 0.75);
    // background-color: #1d1e4542;
    backdrop-filter: blur(16px);
    z-index: 1;
    padding: 0rem 2rem;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
    box-sizing: border-box;
    height: 5rem;
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.625rem;
        margin: 0;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, rgb(232, 184, 255), rgb(241, 241, 254) 74%);
        background-image: linear-gradient(90deg, #C7A47A, #FFEFB5, #C7A47A);
        background-clip: text;
        // color: #C7A47A;
        // color: #FFEFB5;
        filter: drop-shadow(0 0 1px #C7A47A);
        // padding: 1px;
    }
}

/* Sections */

section {
    padding: 2rem;
}

/* Inputs */

input,
select {
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 0.25);
    border: thin solid #fff;
    border-radius: 2.5rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: white;

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.75);
    }
}

select {
    -webkit-appearance: unset;
    appearance: unset;
    padding-right: 2.5rem;
    background:
        url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E") no-repeat right 12px center,
        hsla(0, 0%, 100%, 0.25);
    background-size: 12px;

    &::-ms-expand {
        display: none;
    }
}