.filtersWrapper {
    display: flex;
    // flex-direction: row-reverse;
    padding: 1rem 2rem;
    gap: 1rem;
    align-items: center;
    // justify-content: space-between;
    float: left;

    .filtersAndButtons {
        display: flex;
        gap: 1rem;
        width: auto;
        box-sizing: border-box;
        visibility: hidden;
        filter: blur(5px) opacity(0%);
        transition: 1s ease;
        transform: translateX(-1rem);

        .filters {
            display: flex;
            gap: 1rem;
        }

        label {
            display: flex;
        }

        &.visible {
            visibility: visible;
            filter: blur(0px) opacity(100%);
            transform: translateX(0);
        }

        input {
            width: 100%;
            // height: 2rem;
        }
    }

    .sorting {
        display: flex;
        gap: 0.5rem;
    }

    .toggleFilters {
        background-image: linear-gradient(135deg, rgb(241, 241, 254), rgb(183, 185, 249));
        background-size: 105% 105%;
        background-position: center;
        border-radius: 50rem;
        aspect-ratio: 1;
        padding: 0.75rem;
        transform: rotate(0deg);

        &.visible {
            transform: rotate(360deg);
        }

        svg {
            color: rgb(57, 25, 119);
        }
    }
}

@media screen and (min-width: 601px) {
    .filtersWrapper {
        .filtersAndButtons {

            label span,
            button {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .filtersWrapper {
        justify-content: flex-end;
        padding: 0;
        float: none;

        .filtersAndButtons {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            z-index: 4;
            transform: translateY(15px);
            flex-direction: column;
            padding: 2rem;
            justify-content: space-between;

            .filters {
                display: flex;
                flex-direction: column;
            }

            label {
                flex-direction: column;
                gap: 1rem;
            }

            &.visible {
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(16px);
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 1rem;
            }

            .applyButton,
            .clearButton {
                width: 50%;
                height: 3.5rem;
                border-radius: 5rem;
            }

            .applyButton {
                background-image: linear-gradient(135deg, rgb(241, 241, 254), rgb(183, 185, 249));
                color: rgb(57, 25, 119);
            }

            .clearButton {
                background-image: linear-gradient(135deg, rgb(111, 115, 244), rgb(153, 37, 210));
                color: white;
            }
        }

        .toggleFilters {
            position: fixed;
            font-size: 1.5rem;
            bottom: 1rem;
            left: 1rem;
            box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
            z-index: 2;
            padding: 1rem;
        }
    }
}