.genericSearchButton {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin-top: -5rem;
    padding: 0;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    float: right;
    color: white;
    z-index: 3;

    svg {
        position: absolute;
        transition: 1s ease;
        filter: blur(5px) opacity(0%);

        &.visible {
            filter: blur(0px) opacity(100%);
        }
    }
}

.genericSearchWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }
}

.genericSearchWrapper {
    pointer-events: none;

    .genericSearch {
        pointer-events: all;
        position: fixed;
        width: 50%;
        filter: opacity(0%) blur(32px);
        font-size: 1rem;
        height: 4.5rem;
        padding: 0 20px;
        background-color: hsla(0, 0%, 100%, .25);
        background-position: 1.25rem;
        background-repeat: no-repeat;
        background-image: url(/src/assets/magnifying-glass.svg);
        background-size: 1.5rem;
        border: thin solid #fff;
        border-radius: 2.5rem;
        box-sizing: border-box;
        color: #fff;
        text-indent: 2rem;
        transition: all 1s ease;
        transform: translate(0%, -50%);

        &.visible {
            width: 70%;
            filter: opacity(100%) blur(0px);
        }

        &.header {
            transform: translate(calc(50vw - 50% - 4.5rem), calc(-50vh + 2.5rem));
            width: 35%;
            height: 2.5rem;
            background-position: 0.75rem;
            background-size: 1rem;
            text-indent: 1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .genericSearchWrapper {
        .genericSearch {
            &.visible {
                width: 85%;
            }
        }
    }
}