.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, .625);
    transition: 1s ease;
    pointer-events: none;

    &.blurry {
        backdrop-filter: blur(5px);
    }

    &.visible {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
        pointer-events: all;
    }
}