  @keyframes fadeIn {
      0% {
          opacity: 0;
          scale: 0.9;
          filter: blur(5px);
      }

      100% {
          opacity: 1;
          scale: 1;
          filter: blur(0);
      }
  }

  article {
      visibility: hidden;

      &.loaded {
          visibility: visible;
          animation-name: fadeIn;
          animation-duration: 0.5s;
          animation-timing-function: ease-out;
          animation-fill-mode: backwards;
      }
  }

  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: var(--spring-duration) var(--spring-easing);
      z-index: 0;
      aspect-ratio: auto 481 / 721;

      &>div {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 0.5rem;

          box-sizing: border-box;
          transition: var(--spring-duration) var(--spring-easing), filter 0.5s ease, width 0.75s ease;
          background-size: 101% 101%;
          background-image: var(--backdrop);
          background-position: center;
          //   overflow: hidden;
      }

      .front,
      .back>div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
      }

      .front {
          overflow: hidden;

          img {
              height: 101%;
              width: 101%;
              object-fit: fill;
              position: center;
          }

          &:hover {
              filter: brightness(1.2);
          }
      }

      .front,
      .back>div>p {
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          backface-visibility: hidden;
          z-index: 1;
      }

      .back {
          gap: 0.5rem;

          &>div {
              background-image: linear-gradient(rgba(0, 0, 0, 0.375), rgba(0, 0, 0, 0.75));
              backdrop-filter: blur(0px);
              border-radius: 0.5rem;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              transition: var(--spring-duration) ease;
              padding: 2rem 15%;
              filter: blur(25px) opacity(0);
          }
      }


      &.isHover {
          z-index: 100;
          transform: translate(calc(-1 * var(--card-x)), calc(-1 * var(--card-y))) translate(calc(50vw + 75vw / 2), calc(50vh + (75vw / (481/270)) / 2)) translateY(-50%) rotateY(-180deg);

          .front,
          .back {
              transform: rotateY(-180deg);
              width: 75vw;
              height: calc(75vw / (481/270));
              aspect-ratio: auto 481/270;
          }

          .back>div {
              filter: blur(0) opacity(100%);
              //   backdrop-filter: blur(1px);
          }
      }

      h3 {
          margin: 0;
          color: white;
          //   text-shadow: 0 0 1rem black;
          font-size: 2rem;
      }

      p {
          font-size: 1rem;

          svg {
              color: yellow;
          }
      }

      span {
          p {
              font-size: 0.9rem;
          }
      }

      p,
      small {
          //   color: #555;
          margin: 0;
      }
  }

  @media screen and (max-width: 600px) {
      .card {
          gap: 1.5rem;

          .back>div {
              padding: 1.5rem 1rem;
          }

          .back {
              //   background-image: var(--poster);
              background-size: cover;

              &>div {
                  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
              }
          }

          &.isHover {
              transform: translate(calc(-1 * var(--card-x)), calc(-1 * var(--card-y))) translate(calc(50vw + 75vw / 2), calc(50vh - 5rem/2)) rotateY(-180deg);
              //   transform: translate(calc(-1 * var(--card-x)), calc(-1 * var(--card-y))) translate(50vw, 0) translate(calc(75vw / 2), calc(75vh / 2)) rotateY(-180deg);

              .front,
              .back {
                  width: 75vw;
                  height: 75vh;
              }

          }
      }
  }