.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1.5rem;
    }
}